.small {
  font-size: 18px;
}
.medium {
  font-size: 20px;
}

.text {
  width: 50% !important;
}
.image {
  width: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100% !important;
  border-radius: 18px;
}
.iconsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row on desktop */
  gap: 30px;
  justify-items: center;
  margin-top: 20px;
}

.iconBox {
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  .iconsContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media only screen and (max-width: 991px) {
  .text {
    width: 100% !important;
  }
  .image {
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .iconsContainer {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
